*{
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:   none;
}

@font-face {
    font-family: 'GENJ-Light';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/GenJyuuGothicX-Light.eot');
    src: url('../fonts/GenJyuuGothicX-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GenJyuuGothicX-Light.ttf') format('truetype'),
    url('../fonts/GenJyuuGothicX-Light.woff') format('woff');
}
@font-face {
    font-family: 'GENJ-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GenJyuuGothicX-Medium.eot');
    src: url('../fonts/GenJyuuGothicX-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GenJyuuGothicX-Medium.ttf') format('truetype'),
    url('../fonts/GenJyuuGothicX-Medium.woff') format('woff');
}
@font-face {
    font-family: 'GENJ-Heavy';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/GenJyuuGothicX-Heavy.eot');
    src: url('../fonts/GenJyuuGothicX-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GenJyuuGothicX-Heavy.ttf') format('truetype'),
    url('../fonts/GenJyuuGothicX-Heavy.woff') format('woff');
}

body{
  margin: 0 0 0 0 ;
 }

.main{
  align-items: center;
  background: linear-gradient( 90deg, rgba(245,85,85,0.5), rgba(252,207,49,0.5)), url(../image/reports.jpg);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.main-border{
  width: 97vw;
  align-items: center;
  border: 3px solid #ffffff;
  color: #ffffff;
  display: flex;
  height: 94.5vh;
  justify-content: center;
  position: relative;
}

.main-contents{
  display: block;
}

.search{
  display: flex;
  justify-content: center;
}

.search input{
  border-radius: 0 10px 10px 0 ;
  font-family: "GENJ-Medium";
  font-size: 1.8vw;
  padding-left: 1vw;
  height: 8vh;
  min-height: 50px;
  width: 55vw;
  display: block;
  box-shadow: 2px 2px 3px #999;
}

.filter{
  font-family: "GENJ-Heavy";
  color: #747474;
  height: 8vh;
  min-height: 50px;
  width: 15vw;
  background-color: #D9D9D9;
  border-radius: 10px 0 0 10px;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter p{
  font-size: 2vw;
  margin: 0 0.2vw 0 0.6vw;
}

.filter img{
  height: 3vw;
  margin: 0 0.2vw 0 0.6vw;
}

.main h1{
  font-family: "GENJ-Heavy";
  font-size: 5vw;
  text-align: center;
  margin-bottom: 10px;
}

.main h2{
  font-family: "GENJ-Heavy";
  font-size: 2.8vw;
  text-align: center;
  margin-top: 10px;
}

.main a{
  display: block;
  font-size: 2.5vw;
  font-family: "GENJ-Heavy";
  color: #ffffff;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.contents{
  display: block;
  padding: 5vh 5vw;
}

.contents h2{
  font-family: "GENJ-Heavy";
  font-size: 3vw;
  margin-bottom: 2vh;
}

.contents p{
  font-family: 'GENJ-Light';
  font-size: 1.2vw;
}

#cards, #cards2 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card{
  height: 25vh;
  width: 15vw;
  box-shadow: 2px 2px 3px #999;
  border: solid 0.5px lightgray;
  padding: 3vh 2vw;
  position: relative;
  margin-bottom: 5vh;
}

.card-title{
  font-family: "GENJ-Heavy";
  font-size:  1.3vw;
}

.card-detail{
  font-family: "GENJ-Light";
  font-size:  1.1vw;
  position: absolute;
  bottom: 3vh;
}

#header{
  background: #ffffff;
  height: 13vh;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#header .header-wrapper{
  align-items: center;
  background: linear-gradient( 90deg, rgba(245,85,85,0.5), rgba(252,207,49,0.5));
  display: flex;
  height: 13vh;
  width: 100%;
  z-index: 100;
}

#header .logo{
  color: #ffffff;
  font-family: "GENJ-Heavy";
  font-size: 2.5vw;
  margin: 0 2vw;
  text-decoration: none;
}

#header .organization, #header .oraganization:visited{
  align-self: flex-end;
  color: #ffffff;
  font-family: "GENJ-Heavy";
  font-size: 2vw;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: 2vw;
  text-align: right;
}

.header-search input{
  width: 40vw;
}

#search, #search2{
  display: flex;
}

#submit, #submit2{
  display: none;
}

.results{
  padding-top: 16vh;
}

.result{
  margin-bottom: 3vh;
}

@media screen and (max-width: 750px){
  .main-border{
    width: 92vw;
  }

  .main-contents h1{
    font-size: 7.5vw;
  }

  .main-contents h2{
    font-size: 4.5vw;
  }

  .main-contents input{
    font-size: 20px;
  }

  .main-border a{
    font-size:  6.0vw;
  }

  #header .logo{
    font-size: 24px;
  }

  #header input{
    font-size: 16px;
  }

  #header .organization{
    font-size: 10px;
  }

  .contents h2{
    font-size: 28px;
  }

  .contents p{
    font-size: 14px;
  }

  #cards, #cards2{
    flex-direction: column;
  }

  .card{
    width: 70vw;
    margin: 0 auto 30px;
  }

  .card-title{
    font-size: 5.0vw;
  }

  .filter p{
    display: none;
  }

  .filter img{
    height: 70%;
    margin: 0;
  }

}

@media screen and (min-width: 750px){
  .br-sp{
    display: none;
  }
}
