*{
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
    font-family: 'GENJ-Light';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/GenJyuuGothicX-Light.eot');
    src: url('../fonts/GenJyuuGothicX-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GenJyuuGothicX-Light.ttf') format('truetype'),
    url('../fonts/GenJyuuGothicX-Light.woff') format('woff');
}
@font-face {
    font-family: 'GENJ-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GenJyuuGothicX-Medium.eot');
    src: url('../fonts/GenJyuuGothicX-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GenJyuuGothicX-Medium.ttf') format('truetype'),
    url('../fonts/GenJyuuGothicX-Medium.woff') format('woff');
}
@font-face {
    font-family: 'GENJ-Heavy';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/GenJyuuGothicX-Heavy.eot');
    src: url('../fonts/GenJyuuGothicX-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GenJyuuGothicX-Heavy.ttf') format('truetype'),
    url('../fonts/GenJyuuGothicX-Heavy.woff') format('woff');
}

body{
  margin: 0 0 0 0 ;
 }

.main{
  height: 100vh;
  width: 100vw;
  background: linear-gradient( 90deg, rgba(245,85,85,0.5), rgb(252,207,49,0.5)), url(../image/reports.jpg);
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-border{
  height: 94.5vh;
  width: 97vw;
  border: 3px solid white;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-contents{
  display: block;
}

.main-search{
  display: flex;
  justify-content: center;
}

.filter{
  font-family: "GENJ-Heavy";
  color: #747474;
  height: 8vh;
  min-height: 50px;
  width: 15vw;
  background-color: #D9D9D9;
  border-radius: 0 15px 15px 0 ;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter p{
  font-size: 2vw;
  margin: 0 0.2vw 0 0.6vw;
}

.filter img{
  height: 3vw;

  margin: 0 0.2vw 0 0.6vw;
}

h1{
  font-family: "GENJ-Heavy";
  font-size: 5vw;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

input{
  font-family: "GENJ-Medium";
  font-size: 1.8vw;
  padding-left: 1vw;
  height: 8vh;
  min-height: 50px;
  width: 55vw;
  display: block;
  border-radius: 15px 0 0 15px;
  box-shadow: 2px 2px 3px #999;
}

h2{
  font-family: "GENJ-Heavy";
  font-size: 2.8vw;
  text-align: center;
  margin-top: 10px;
}

a{
  display: block;
  font-size: 2.5vw;
  font-family: "GENJ-Heavy";
  color: white;
  position: absolute;
  right: 2%;
  bottom: 2%;
}
